[2018-01-08 10:18] AlejandroHCruz opened #2 "Feature: text color for each item"
Hi!

Do you think it would be possible to add support for specifying the text color of each item?

I can also give it a look if you point me into the right direction to develop this feature 👍

[2018-01-21 21:53] florent37 opened #3 "Java version / documentation"
I have a java legacy project ans i want to try this libraire without using kotlin, my team have tout stay on java. How to ?

[2018-01-22 13:06] zawadz88 commented on #3
Hi @florent37,
I'm not sure if this is possible. The entire syntax for creating these dialogs uses Kotlin features so you cannot really call it from Java (Lambdas with receivers).
What you might do is create a single Kotlin file where you would setup the dialog as you want to and call a method from that file in Java.

However, you would still need to use Kotlin in this project.

[2018-01-22 13:11] zawadz88 commented on #2
Hi @AlejandroHCruz,
Sorry for not responding earlier.
I think this would be a very nice feature!
Off the top of my head you would probably need to pass that information into the item builder:
https://github.com/zawadz88/MaterialPopupMenu/blob/master/material-popup-menu/src/main/java/com/github/zawadz88/materialpopupmenu/MaterialPopupMenuBuilder.kt

and reference that later in https://github.com/za

[2018-01-22 21:00] zawadz88 commented on #2
Hi @AlejandroHCruz,
Please let me know if the changes proposed in #4 are what you had in mind!

[2018-01-23 09:59] AlejandroHCruz commented on #2
Hey @zawadz88  that's exactly what I had in mind, wow! Thanks a lot. This is now by far my favorite library for PopupMenus 🥇
Adding support for custom views would be indeed very nice and bring the MaterialPopupMenu library into a whole new game level. Kudos for all the work so far!! 🔥🔥🔥🔥

[2018-01-23 20:44] zawadz88 commented on #2
Thanks for that feedback :)
The changes were merged to `master` and are available now with `1.1.0`.

[2018-01-23 20:44] #2 closed

[2018-01-24 07:33] zawadz88 commented on #3
Could you share why you cannot use Kotlin? It's not that different from Java and offers a lot on top of Java. Setup is also easy and IDE support is also great.

[2018-01-24 08:13] florent37 commented on #3
It's a group decision to stay on java for now, out dev are juniors and the client do not want to swich to kotlin now

[2018-01-24 12:17] zawadz88 commented on #3
Thanks for sharing.
I understand, however the library itself is written in Kotlin so you have to use Kotlin in your project to use the library. There are no plans to migrate this to Java as the entire purpose of creating this lib for me was to make creating these dialogs easy using Kotlin's builder syntax TBH.

If you want to use it you would have to at least integrate Kotlin in your project and m

[2018-01-27 14:00] prscX opened #5 "any similar iOS compatible library?"
Hi @zawadz88

First of all I would like to appreciate for open sourcing such a nice library.

Do you any similar library for iOS platform as well?

Thanks
Pranav

[2018-01-28 10:15] zawadz88 commented on #5
Hi @prscX,
Thank you for your kind words :)
I don't really know anything about an iOS equivalent of this library, however I'm not doing any iOS work these days so I'm probably not the best guy to ask...

[2018-01-29 08:55] AndroidDeveloperLB opened #6 "Question: possible to drag to select?"
On the native framework, if you drag-touch from the overflow menu, you can still select an item.
This means a single touch is needed to show the popup till you select an item from it.

Is it possible to do it here too?
I've tested the sample, and it seems it doesn't work this way.

[2018-01-29 09:15] zawadz88 commented on #6
Hi @AndroidDeveloperLB,
TBH I haven't realized you can actually do that :)
It might have something to do with the `OnClickListener` being set in the sample app and not really with the library itself.
I'll check :)

[2018-01-29 09:25] AndroidDeveloperLB commented on #6
I think I found that out on some article, when material design started to appear.

[2018-01-30 17:37] #3 closed

[2018-01-30 17:40] zawadz88 commented on #6
So I wasn't really able to make something similar with this library. If you (or anyone else) has an idea how to accomplish this it would be great hear :)
It would be a cool enhancement.

[2018-01-30 17:51] AndroidDeveloperLB commented on #6
I have no idea.
It seems to have come on Android 4.4.4 (search for "Drag-to-Select") :
http://www.androidpolice.com/2013/11/16/getting-to-know-android-4-4-kitkat-edition-android-gets-cleaner-brighter-more-useful/#design-tidbits-and-other-stuff

Maybe ask about this on StackOverflow?

[2018-01-31 12:43] prscX commented on #5
Thanks @zawadz88 for the response.

Thanks
Pranav

[2018-01-31 12:43] #5 closed

[2018-01-31 12:47] prscX opened #7 "How to using API's in Java?"
Hi @zawadz88

I am trying to using API's in Java, but I am getting error while adding item to section holder. Please find below snippet of the same:

[code]

It is giving me below exception at last line:

<img width="1107" alt="screen shot 2018-01-31 at 6 14 52 pm" src="https://user-images.githubusercontent.com/28862892/35623778-ce4df226-06b2-11e8-9e44-733501600dc7.png">

Can you please guide me o

[2018-01-31 13:29] prscX commented on #7
Hi @zawadz88, I got it working.

Thanks
Pranav

[2018-01-31 13:29] #7 closed

[2018-02-01 15:55] prscX opened #9 "Provision for passing drawable object instead of drawable resource id"
Hi @zawadz88,

I am basically writing [ReactNative](https://github.com/facebook/react-native) native bridge of this library in order to using it with ReactNative projects.

I am stuck at place where from JS I am receiving icon information and using that I am able to create Drawable object, now the challenge is how to pass this drawable to `item.setIcon` method.

Since this API only except drawable

[2018-02-01 19:00] zawadz88 commented on #9
Hi Pranav,
Thanks for raising this issue. This seems like a very nice enhancement to the library.
I'm going on holidays now but I'll surely add it once I'm back!

For the time being I believe you could actually make this work by using a custom item introduced in 1.2.0. In customItem you could specify a layoutResId with an ID to the one used for the default item and in viewBoundCallback find the ic

[2018-02-02 02:21] prscX commented on #9
Thanks @zawadz88 for your valuable feedback. I will try the suggested solution and will share the results here.

Thanks
Pranav

[2018-02-03 14:26] prscX commented on #9
Thanks @zawadz88, I got it working using CustomItem.

Many Thanks for the guidance

Thanks
Pranav

[2018-02-17 10:02] zawadz88 commented on #9
Hi @prscX,
This is available now in `1.3.0`.

[2018-02-17 10:02] #9 closed

[2018-02-17 10:30] prscX commented on #9
Many Thanks @zawadz88 for the support and enhancing the API's

[2018-02-28 07:37] prscX opened #12 "Issue with setting Dark theme programatically"
Hi @zawadz88,

I am trying to set dark theme programatically using below API in Java:

`
MaterialPopupMenuBuilder popupMenuBuilder = new MaterialPopupMenuBuilder();
popupMenuBuilder.setStyle(R.style.Widget_MPM_Menu_Dark);
`

It is working as expected for text color but not for background color:

<img width="127" alt="screen shot 2018-02-28 at 1 06 03 pm" src="https://user-images.githubusercontent.

[2018-02-28 16:44] zawadz88 commented on #12
Hi,
If I remember this correctly the background color comes from the Activity theme. So the Activity itself needs to have a dark theme.

[2018-03-01 03:39] prscX commented on #12
Thanks @zawadz88 for the quick response.

Yes you are right the background color comes from the Activity theme. My use case is I am trying to invoke MaterialPopupMenu from RN [react-native-popover-menu](https://github.com/prscX/react-native-popover-menu) project, in order to make it work developers have to do changes at `AndroidManifest` file.

Is it possible to set the background color of entire

[2018-03-01 21:29] zawadz88 commented on #12
I think it might be possible by changing the default style used for showing the dialog.

I'll try to find some time this week and investigate.

[2018-03-05 20:44] zawadz88 commented on #12
Status update - I have the changes on https://github.com/zawadz88/MaterialPopupMenu/tree/feature/custom-background-colors
This needs some testing though and maybe some cleaning up.

I'll try to have something ready this week

[2018-03-06 13:31] prscX commented on #12
Thanks @zawadz88 for taking this on priority and staying top on this.

I will also spend some time for testing and will share the results with you.

Thanks
Pranav

[2018-03-07 15:16] Soptq commented on #7
@prscX Could you share how to use it in Java? I'm a student learning java so I'm not so familiar with Kotlin. Thanks very much.

_使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 从我的 Xperia Z5 dual 发送_

[2018-03-07 15:18] Soptq commented on #7
Hi @prscX , Could you please share how to use it in Java? I'm a student learning java so I'm not so familiar with Kotlin. Thanks very much.

[2018-03-07 22:36] prscX commented on #7
Hi @Soptq,

Please refer below class file `Show` method for the bridging between Java and Kotlin:

https://github.com/prscX/react-native-popover-menu/blob/master/android/src/main/java/ui/popovermenu/RNPopoverMenuModule.java

Let me know in case you need any help.

Thanks
Pranav

[2018-03-08 14:18] Soptq commented on #7
@prscX I got it! I really enjoy your concise code, mine is always a mess.:smile:

**Thanks very much!**

[2018-03-13 17:27] zawadz88 commented on #12
Hi @prscX,
This should be fixed in the newly released 1.4.0.

Thanks for reporting this!

[2018-03-13 17:27] #12 closed

[2018-03-18 12:55] prscX commented on #12
Many Thanks @zawadz88 for release. I have tested and is working as expected.

Thanks
Pranav

[2018-03-18 16:28] prscX opened #14 "Order of items ruined if menu has to scroll"
Hi @zawadz88,

This is with respect to [react-native-popover-menu: ISSUE 10](https://github.com/prscX/react-native-popover-menu/issues/10)

We have encountered below strange issues when the popover has scroll bar:
- Items are getting repeated
- Items order is getting mismatched

I have tried the same in example by adding more items, please find below output:

![issue](https://user-images.githubuse

[2018-03-18 16:48] zawadz88 commented on #14
Hi @prscX,
Thanks for reporting this. Weird bug indeed...

[2018-03-18 17:41] zawadz88 commented on #14
Hi @prscX,
This should be fixed in 1.4.1.
Again, thanks for reporting this!

[2018-03-18 17:41] #14 closed

[2018-03-19 01:09] prscX commented on #14
Many Thanks @zawadz88 for the quick fix.

Thanks
Pranav

[2018-04-05 21:30] AndreaCioccarelli opened #21 ".dismiss() method on popupMenu"
it isn't possible to create a .dismiss() callback on the popupMenu? It would be nice to dismiss it programmatically or when the execution reaches the end of the callback

[2018-04-07 07:15] zawadz88 commented on #21
Hi @AndreaCioccarelli,
That sounds like a perfectly valid enhancement. I'll have a look :)

[2018-04-10 20:25] zawadz88 commented on #21
Hi @AndreaCioccarelli,
Are you happy with the changes proposed in #22? Or would you change anything/add something to that?

[2018-04-10 21:21] cioccarellia commented on #21
Perfect like this, I'll let you know if I'll have some other ideas :)

On Tue, Apr 10, 2018, 22:25 Piotr Zawadzki <notifications@github.com> wrote:

[2018-04-17 21:32] #21 closed

[2018-04-19 14:06] jrcacd opened #23 "How to show the menu anchored to the action overflow position?"

[2018-04-19 16:02] zawadz88 commented on #23
Hi,
Could you provide a bit more description?
A screenshot/code snippet would be very helpful.

[2018-04-20 09:11] jrcacd commented on #23
What I need is to show the menu on the top right corner as your screenshot shows

https://github.com/zawadz88/MaterialPopupMenu/raw/master/art/sample_toolbar_dark.png

[2018-04-20 15:23] zawadz88 commented on #23
You can check out the sample app: https://github.com/zawadz88/MaterialPopupMenu/blob/master/sample/src/main/java/com/github/zawadz88/materialpopupmenu/sample/DarkActivity.kt#L49

[2018-04-25 15:37] zawadz88 commented on #23
The screenshot is actually taken from the sample app. Therefore closing this issue.

If you have further questions please don't hesitate to ask.

[2018-04-25 15:37] #23 closed

[2018-05-14 20:40] debjitk opened #24 "Menu resource file"
How can i use a menu resource file ?

[2018-05-15 05:57] zawadz88 commented on #24
Hi @debjitk,
The entire point of this library to simplify this and not use menus in XML. Therefore this feature is not supported.

If you want to use a menu file you can use a standard PopupMenu though.

[2018-05-16 07:21] zawadz88 commented on #24
If you want to use an XML file you can check this out: https://stackoverflow.com/a/21329225/973379

[2018-05-16 17:49] d3bt3ch commented on #24
@zawadz88 My implementation is with PopupMenu but icons not showing up. Also, if i don't xml then in that case how can i use the library with java ?

[2018-05-17 06:34] zawadz88 commented on #24
Please see #7 although I would strongly recommend switching to Kotlin anyway.

[2018-05-17 20:21] d3bt3ch commented on #24
@zawadz88 We would eventually. For the moment the app is already been built using java.

[2018-06-15 01:12] ac-opensource opened #25 "Fails when proguard"

[2018-06-15 14:48] zawadz88 commented on #25
Hi,
Could you provide more details, please?
What's the error?

[2018-06-24 07:43] zawadz88 commented on #25
Hi @ac-opensource,
Could you have a look at the above, please?
Thanks!

[2018-07-16 19:29] debjitk opened #26 "Multilevel menu"
Does the library supports multilevel menu ?

[2018-07-17 05:50] zawadz88 commented on #26
Hi @debjitk,
The library dies not support this currently. It would be a very nice feature though!

[2018-08-01 22:55] ogasimli commented on #23
I am not able to position the popup menu below the view anchor like in this picture:

https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/pop-up-menu-android-application/Images/image012.png

I have tried to set `dropdownGravity = Gravity.BOTTOM` without success. I have also tested other Gravity constants (i.e END, START, TOP, etc.) but wasn't able to achieve the desired result.

[2018-08-02 08:40] ogasimli opened #27 "Not able to position the popup menu below the view anchor"
I am not able to position the popup menu below the view anchor like in this picture:

https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/pop-up-menu-android-application/Images/image012.png

I have tried to set `dropdownGravity = Gravity.BOTTOM` without success. I have also tested with other Gravity constants (i.e END, START, TOP, etc.) but wasn't able to achieve the desired result.

[2018-08-15 09:07] zawadz88 commented on #27
Hi @ogasimli,
Sorry for not replying earlier but I was on holidays. I'll try to have an answer for you by the end of the week.

[2018-08-20 13:26] DeweyReed opened #28 "kotlin-stdlib-jre7 is deprecated. Please change to jdk7"
Gradle warning: `kotlin-stdlib-jre7 is deprecated. Please use kotlin-stdlib-jdk7 instead`

[2018-08-21 14:29] #24 closed

[2018-08-21 16:46] zawadz88 commented on #27
Hi @ogasimli,
I've checked and this is not possible currently. It is a nice enhancement though and should relatively easy to add!
I'll try to have something soon.

[2018-08-21 17:24] ogasimli commented on #27
Hi @zawadz88,

Thanks for your time. I also think that it is vital to be able to position the Menu. In my case, I am animating the icon when popup menu is opened and closed. Therefore, this feature was very important to me. Also, I noticed that there is no OnCloseListener. I think that it will be a good enhancement either.

Because of these 2 issues, I decided to create my own custom PopupWindow.

[2018-08-21 17:25] zawadz88 commented on #27
I have something ready which you might try here (See "Custom offsets" sample): https://github.com/zawadz88/MaterialPopupMenu/tree/feature/custom-offsets

Using `dropdownGravity` seems like a more generic approach though, but it'll require further investigation as depending on the amount of space available (top/bottom of the screen) the results might differ.

[2018-08-21 17:37] ogasimli commented on #27
Thanks!

Yes, positioning via the `dropdownGravity` would much more elegant. But custom offsets are also doing the job. Having both gravity and custom offset would be the best solution though. I.e in my custom PopupWindow I have set the gravity of the menu and then adjusted its position slightly with custom offsets.

[2018-08-27 18:27] #28 closed

[2018-08-27 18:28] zawadz88 commented on #27
Using `dropdownGravity = Gravity.BOTTOM` and custom offset is now released as part of 2.2.0.
Thanks for reporting this :)

[2018-08-27 18:28] #27 closed

[2018-08-27 18:28] #25 closed

[2018-09-03 16:25] Pirokar opened #30 "How to create menu from dynamic array?"
Looks like you allows only static way to create views.

[2018-09-04 16:44] zawadz88 commented on #30
Hi @Pirokar,
Could you provide a bit more context, please? How would you like for this to work exactly?
If you have an array of items you would like to iterate over, you can add an item for each of them dynamically I guess. This should be similar to one of the samples in the sample app: see `onConditionalItemsClicked` in `DarkActivity` or `LightActivity`. There's an `if` statement there but this c

[2018-09-05 08:20] Pirokar commented on #30
@zawadz88 this allows you to check that "if we have "A" item in array, than add "A". I want to write:

[code]
But this is impossible with current tools. I'm already connect your library as a module from your sourceCode and all that I need to make it work it's add this method:
[code]

[2018-09-07 16:49] MFlisar commented on #30
You can do following e.g.:

	section {
		if (true) {
			item {
				label = "Dynamic item based on bool"
			}
		}
		for (i in 0..10) {
			item {
				label = "Dynamic item $i"
			}
		}
		item {
			label = "Static item"
		}
	}

And similar. Was looking for the same like you and came to this solution...

[2018-09-09 11:41] zawadz88 commented on #30
Thanks @MFlisar!

[2018-09-27 06:59] #30 closed

[2018-09-27 07:02] zawadz88 opened #31 "Migrate Support Library dependencies to Jetpack"
As Android Support libraries are being replaced by AndroidX (which is now stable), this library's dependencies should be updated as well.

https://developer.android.com/topic/libraries/support-library/androidx-overview

This will introduce breaking changes so a major version name update will be required.

[2018-10-01 17:34] zawadz88 commented on #31
Done on https://github.com/zawadz88/MaterialPopupMenu/tree/feature/issue-31-android-x-support
Waiting for Butterknife 9.0.0 to reach stable for now.

[2018-10-22 14:50] jrcacd commented on #31
Waiting for this to use

[2018-10-23 09:07] TikTak123 opened #32 "How can I add rounded corners to Popup menu?"

[2018-10-23 12:30] jrcacd opened #33 "How to add an disabled menu entry?"
We need that some menu entries be visible, but be disabled because some users do not have sufficient permissions.

[2018-10-23 13:43] jrcacd opened #34 "When put a iconColor black (for example) the icon color is other than what is settted"

[2018-10-26 06:55] zawadz88 commented on #34
Hi @jrcacd,
Could you provide a code snippet of how you're using it and a screenshot of how it looks like, please?
Also, is this happening on any specific device, are you using Android Support Library or AndroidX?
Any details would be appreciated :)

[2018-10-26 06:56] zawadz88 commented on #33
Hi,
how would those disabled items look and behave?

[2018-10-26 06:58] zawadz88 commented on #32
Hi,
I hope this will be possible once AndroidX migration happens: #31
I haven't checked this though... I'll try to put a sample in of how to do this

[2018-10-26 07:43] jrcacd commented on #34
I'm using AndroidX
Xiaomi redmi 5 plus
Android 8.1

[code]

**Result**
![screenshot_2018-10-26-08-42-07-431_com icecrystalcore mydic](https://user-images.githubusercontent.com/26005662/47551845-28efdf80-d8fb-11e8-8383-e4b2208a53d5.png)

[2018-10-26 07:45] jrcacd commented on #33
Perhaps have an grayed icon and not execute the callback code.

[2018-10-27 12:41] TikTak123 commented on #32
Thank you @zawadz88

[2018-10-31 07:16] zawadz88 commented on #34
It might be that AppCompat does some internap tinting based on your accent color. Is the result the same if you use a different icon, preferably one that's in your app assets?

[2018-10-31 07:25] zawadz88 commented on #33
So clicking on such an item would also not dismiss the popup window?

Regarding the UI of a disabled item it's possible by using an item with a custom layout. As far as the on-click behaviour is concerned, this might a bit more tricky. I'd probably try to disable the item in `viewBoundCallback` and see if that works.

[2018-10-31 10:03] jrcacd commented on #34
Yes

[2018-10-31 16:46] zawadz88 commented on #34
OK, I think I see the issue now. You should be using a color int and not a color resource ID. So in your case this could be:
[code]

[2018-10-31 16:51] zawadz88 commented on #33
You could have the following:
[code]

Adding `view.isEnabled = false` should be enough to disable onClick events.

[2018-10-31 17:09] zawadz88 commented on #32
@TikTak123 So this should be possible even in the current version.
You need to create a drawable with rounded corners e.g.
[code]
and then reference that drawable in a custom style declared in your `styles.xml` e.g.
[code]
The last piece of the puzzle is to use that style when building the popup menu:
[code]

This is how this might look like:
![screenshot_1541005735](https://user-images.githubuser

[2018-11-04 11:44] zawadz88 commented on #31
Released in 3.0.0

[2018-11-04 11:44] #31 closed

[2018-11-04 11:45] #32 closed

[2018-11-05 09:44] #34 closed

[2018-11-05 09:46] jrcacd commented on #33
Umm, ok, but a litle tricky

[2018-11-05 19:48] #33 closed

[2018-12-08 21:00] CheckHelzio opened #36 "Use in immersive mode"
If you are in inmmersive mode without navigation and statusbar and show the Popupmenu the NavigationBar is display because the popup window gains foccus.
This can be prevented and the library can be used without exit the immersive mode at all... making MaterialRecyclerViewPopupWindow no focussable on the private method buildDropDown

[2018-12-12 07:24] zawadz88 commented on #36
Hi @CheckHelzio,
Thanks for reporting this. I'll have a look soon.

[2018-12-12 17:48] zawadz88 commented on #36
This is a bit more complicated I think as this probably shouldn't be the default behaviour.
In `ListPopupWindow` (which `MaterialRecyclerViewPopupWindow ` is based on) there is this method:
[code]
A similar method could be added in this library. Removing `popup.isFocusable = true` from `init` in `MaterialRecyclerViewPopupWindow` completely has the effect you desire i.e. user does not exit immersiv

[2018-12-16 21:28] ashughes commented on #36
This is a general challenge I've had with immersive mode. Anything that adds a new window (e.g. `PopupWindow`, `Dialog`) causes immersive mode to be exited. My understanding is that the popup would either need to not be a window (but then it can't intercept the back key automatically) or it needs to set the appropriate window flags.

[2018-12-16 23:51] CheckHelzio commented on #36
To use my custom `MaterialRecyclerViewPopupWindow` i need to create a package `android.support.v7.widget` inside my app's java files. Everything works well, but I cannot generate a signed Apk.
The error is this:
Program type already present: android.support.v7.widget.MaterialRecyclerViewPopupWindow$Companion

Can you help me with this?

[2018-12-17 07:13] zawadz88 commented on #36
If you're adding a new class named like the one used in this library then you'll have duplicates and this won't compile. I'd suggest forking this library, making the changes that suit your needs in the forked library and compile that library. Then just use that AAR file in your project instead of referencing this library.

[2018-12-17 07:23] CheckHelzio commented on #36
I solved just changing the name of that class for "MaterialRecyclerViewPopupWindow2" and everything works well, but I'll use the your approach on my next release... It's the correct way to do that.
Thank you for the answer and your time @zawadz88

[2018-12-17 11:13] ValCanBuild opened #37 "On dismiss listener"
Is it possible to have a dismiss listener we could set, similar to the `PopupWindow.setOnDismissListener` method?

[2018-12-18 12:30] zawadz88 commented on #37
That sounds like a good idea and shouldn't be that hard to add I guess.
I'll try to implement it soon.

[2018-12-21 17:31] #37 closed

[2018-12-21 17:36] zawadz88 commented on #37
Released in 3.1.0
Can be done via `MaterialPopupMenu#setOnDismissListener`

[2019-02-24 23:22] dipcore opened #39 "Selected (Focused) Item"
Is there a way to set which item is selected/focused on menu opening?
for instance I have menu
[code]

[2019-02-28 09:00] zawadz88 commented on #39
Hi @dipcore,
I think this should be possible with a `customItem` and `viewBoundCallback`. In the sample app there's e.g.
[code]
so in `viewBoundCallback` you do sth like `view.isFocused = true` and check if it does the trick.

Let me know if this helped!

[2019-02-28 18:28] dipcore commented on #39
Hey @zawadz88
Yes, that worked. Here is my code
[code]
So I have to use ```view.post { view.requestFocus() }``` to make it work properly.

Thanks for your help

[2019-02-28 18:39] #39 closed

[2019-04-08 05:44] yanniks opened #41 "Which license does this project use?"
Hi there,

thank you for developing this library. However, I could not find a license file. Which license does this project use?

Thanks,
Yannik

[2019-04-08 07:57] zawadz88 commented on #41
Hi @yanniks,
Thanks for submitting this issue - it totally slipped my mind to include that file...
I've updated the project accordingly.
The license is Apache 2.0

[2019-04-08 07:57] #41 closed

[2019-04-12 08:44] jrcacd commented on #26
We really need this

[2019-04-12 12:04] zawadz88 commented on #26
Hi @jrcacd, could you describe your use case, please? How should it look like, what devices are you targeting etc.?
I've just had a look at the latest Material Design guidelines (https://material.io/design/components/menus.html#dropdown-menu) and cascading menus are actually marked as Desktop only.
Personally, I'm not sure if there's simply enough space to put it on phones (maybe just on tablets).

[2019-04-14 11:29] Tunous opened #46 "Unable to run tests"
When I try to run any of the tests via Android Studio I get an error similar to the one below. Is there anything I have to do/install before being able to run tests?

<details>
<summary>Stack trace</summary>

[code]

</details>

[2019-04-15 15:39] zawadz88 commented on #46
I can see that as well. I'll try to have a fix soon. Surprisingly, it works from the command line...

[2019-04-15 15:54] zawadz88 commented on #46
Should be fixed on `master` now. Had to upgrade Mockito-Kotlin to the latest version.

[2019-04-15 15:54] #46 closed

[2019-04-15 15:58] ghostofiht opened #48 "Logo Contribution"
Hi, I'm a logo designer. I support open source projects with my logo designs. I would also like to make a contribution to the MaterialPopupMenu project. I have a great design idea. You want to see this?

[2019-04-15 16:20] zawadz88 commented on #48
Hi @ghostofiht,
Sure!

[2019-04-15 16:26] ghostofiht commented on #48
Please feel free to tell me if there is something you want to change in design.  I applied multiple colors. You can pick someone you like. Or you can ask me to apply a different color. I'm happy to contribute to the open-source community.

![material_poup_menu_re](https://user-images.githubusercontent.com/42060713/56149510-66355000-5fb5-11e9-9298-1ade3475da40.jpg)

[2019-04-15 16:54] zawadz88 commented on #48
I like the first one the most :) Could you submit a PR replacing the one at https://github.com/zawadz88/MaterialPopupMenu/blob/master/art/components_menus.png with the one on the right? If you have the one the left in 512x512 than I could use it to replace the app launcher icons for the sample as well (the ones in `mipmap-xxx` e.g. https://github.com/zawadz88/MaterialPopupMenu/tree/master/sample/s

[2019-04-15 17:23] Tunous opened #49 "Height calculation works incorrectly when items have dynamic size"
I don't have ideas how to fix that currently but calculation of height for the popup appears to work incorrectly when items can have dynamic height.

This can be easily reproduced with item that has long text applied in the `viewBoundCallback` block like I've done with below code:

<details>
<summary>Sample</summary>

[code]

<img src="https://user-images.githubusercontent.com/5156340/56152249-78a

[2019-04-15 17:45] zawadz88 commented on #49
The might be some issues in `MaterialRecyclerViewPopupWindow#measureHeightOfChildrenCompat`. In theory it does invoke `bindViewHolder`, but I've never really tested it with e.g. `wrap_content`.
Most of that stuff was copied from `DropDownListView` (pre-AndroidX version). I see there were some changed in AndroidX so maybe applying them might fix the issue.
I'll have a look.

[2019-04-15 18:05] ghostofiht commented on #48
I've added application icons. I've also included other formats that may be required. I sent a PR. https://github.com/zawadz88/MaterialPopupMenu/pull/50

Please feel free to tell us if you need logo for your other projects.

Good jobs !

[2019-04-15 18:39] zawadz88 commented on #49
I think I have a fix although I'll need to do more testing tomorrow (hopefully) to make sure this does not break something else.
This is how it looks like after the fix:

![Screenshot_1555352947](https://user-images.githubusercontent.com/3322260/56156366-6df8f280-5fbd-11e9-9f92-a28a9f743637.png)

<details>
<summary>Potential fix</summary>

[code]
</details>

[2019-04-16 15:02] #49 closed

[2019-04-16 15:33] zawadz88 commented on #48
Merged to `master`, thanks!

[2019-04-16 15:33] #48 closed

[2019-04-16 18:00] Tunous commented on #49
Almost there. I just accidentally found that the height is also incorrect if you add vertical margin to custom items. It is calculated without taking it into account.

I can try to create a pull request for that tomorrow unless someone else will be quicker.

[2019-04-17 11:01] SasLuca opened #55 "Make sections in MaterialPopupMenu public"
I want to be able to modify the UI elements in the popup menu when the user clicks on them, however I can't do this right now because they private.

I think it would be better if they were public so that we could modify them or offer users a different way to modify them.

[2019-04-17 12:10] zawadz88 commented on #55
Hi @SasLuca,
I'm not sure if I understand this. Would like to be able to update the popup menu while it's still displayed without closing it? If so, how would it look like? What kind of modification do you have in mind?

[2019-04-17 15:57] marbat87 commented on #26
Hi @zawadz88,

 Multilevel menu doesn't mean a Cascading menu.
It means the same behavior of standard contextmenu: menu items with a submenu have an arrow. Clicking on the item itself shows the submenu and hides the main menu.
Main menu and submenu are not visible at the same time.

Regards

[2019-04-17 16:43] zawadz88 commented on #26
Hi @marbat87,
I don't see it in the spec so I'm not sure how this should behave (animations, anchors, etc.).
However, what you're describing should be possible by e.g. using a custom item in the top level menu so that it has the arrow at the end. When this item gets clicked you could simply open a new menu.

Wouldn't that do the trick?

[2019-04-17 18:34] SasLuca commented on #55
Yeah, I would like to update the popup menu while it's still displaying without closing it. I now realise that is a bit harder to do.

Maybe there could be a refresh() function for MaterialPopupMenu that you would call within a callback like such:

[code]

[2019-04-17 19:46] zawadz88 commented on #55
If you would like to refresh an individual label when clicked you could use a custom item, get a reference to a textview in that View and update it accordingly when clicked. Or do you have something else in mind?

[2019-04-18 07:43] marbat87 commented on #26
@zawadz88  Yes it should work. I just thought is was easy to implement as standard contextmenu manages it yet.

Thanks

[2019-04-18 15:00] zawadz88 commented on #26
Ah, right. I understand now what you had in mind. I'll try to have a look - shouldn't be too hard.
I thought the issue was about something else from start...
Thanks for clarification

[2019-04-18 16:17] zawadz88 commented on #26
You don't need a custom item actually.
I've modified one of the samples to achieve this:
![multi-level](https://user-images.githubusercontent.com/3322260/56375493-f8339780-6205-11e9-8672-6b243860615f.gif)

Code:
[code]

@debjitk @jrcacd @marbat87 Is that what you guys had in mind?

[2019-04-19 09:01] marbat87 commented on #26
That's the wanted behavior, but actually items with a submenu show like the image below in the standard contextmenu (screenshot taken from Android 8.1).
We can achieve that only with a custom object in MaterialPopupMenu.

![image](https://user-images.githubusercontent.com/8694304/56416735-0929ea80-6292-11e9-8885-82d1552f8750.png)

[2019-04-19 10:20] zawadz88 commented on #26
Hi @marbat87 ,
Could you post the code you used for creating this with a standard context menu?
Anyway, I'll try provide an example of how to do that in the sample app.

[2019-04-29 15:08] zawadz88 commented on #26
Regarding `ContextMenu`s, this can look like this:
![context menu](https://user-images.githubusercontent.com/3322260/56905508-a0681c80-6aa0-11e9-9065-7dc2412cd3cc.gif)
which can be achieve by adding in Activity:
[code]
and somewhere in `onCreate`:
[code]

[2019-04-30 15:54] Jaguarhl opened #58 "Is it possible to open the menu in the center of the screen? Or set horizontal margins?"
I need to open the menu centered horizontally.  I can't find a way.

[2019-05-01 15:27] zawadz88 commented on #58
Hi,
I don't think it is possible to center it the way you described (at least I don't see an easy way to do this).
Offsets are possible - there's an example in the sample app.

What you're describing seems more like a dialog to me, are you sure you want to use this library for this?

[2019-05-02 12:59] egek92 opened #60 "Anchoring the popup left bottom of the button"

[2019-05-02 14:01] zawadz88 commented on #60
Hi @egek92,
It is possible to offset the popup by a specified amount. Please see the "Custom offsets" in the sample app.
You need to create your own popup style with `android:dropDownVerticalOffset` and `android:dropDownHorizontalOffset` provided.

[2019-05-02 14:10] #26 closed

[2019-05-02 14:10] zawadz88 commented on #26
Released in 3.4.0

[2019-05-02 14:16] #36 closed

[2019-05-02 14:26] zawadz88 opened #61 "Improve documentation"
Currently, the only documentation available is in Github README. There's also Github Pages with Dokka documentation and a sample app with most APIs covered, but it feels to me that the documentation should be better.
There were many new features added recently (https://github.com/zawadz88/MaterialPopupMenu#supported-features) but the documentation in README does not cover it at the moment.

A bett

[2019-05-02 14:45] jrcacd commented on #26
Can we create like this?

[code]

[2019-05-02 17:27] zawadz88 commented on #26
Hi @jrcacd,
Not in 3.4.0. There's an example in the sample app of how to do this in a different way.
Regarding the DSL proposition - I'm not sure if putting `submenu` on the same level as `section` is a good idea. It should probably be under `section` or `item`.
There's also one more issue I see with having submenus supported this way. `popupMenu` returns a menu object on which we call `show` with

[2019-05-03 00:58] NapasPayu opened #62 "How to override popup width with the width of anchor view?"
I would like to show a Popup Menu with the same width of anchor view. Is it possible to do so?

[2019-05-03 10:58] egek92 commented on #60
is it possible to have this shape as popup https://imgur.com/a/68WJFlV ? because otherwise the popup dims the button too

[2019-05-03 11:47] zawadz88 commented on #60
You can change a popup background to any shape you choose. There's an example on how to do that in the sample app where a background with more rounded corners is used.

[2019-05-07 21:05] #60 closed

[2019-05-15 16:09] zawadz88 commented on #62
Hi,
The library does not support it currently. According to the Material spec it uses increments of 56dp instead.
However, I can see that having a custom width can be sometimes useful so this would be a nice enhancement.
I'll gladly accept any PRs regarding this if anyone wants to contribute :)

[2019-06-27 16:35] MFlisar opened #63 "Sub label / multiline / spannable support"
Sometimes it may make sense to show menu entries with sub labels, can you add this as well?

E.g.:

    [SECTION]                            "Change state"
    [MENU 1]                             - "Mark completed"
    [MENU 2]                             - "Mark completed"
    [MENU 2 - SUB TEXT]                    "And add a comment"

Alternatively it would also work if we can provide a `Spanna

[2019-06-27 19:52] zawadz88 commented on #63
Hi, I think this should be possible with the current version of the library (3.4.0) thanks to the recently added `viewBoundCallback` for default items as well. In `viewBoundCallback` you should be able to get the TextView and change text to a Spannable as well as and change the single line setting.

Have you tried this approach?

[2019-06-28 10:28] MFlisar commented on #63
Did not try it yet, but it does not work because:

The super call in this block calls the callback inside `AbstractItemViewHolder`

https://github.com/zawadz88/MaterialPopupMenu/blob/ab65b75faf7b8bdebf1bc29c645e1950eeb55233/material-popup-menu/src/main/java/com/github/zawadz88/materialpopupmenu/internal/PopupMenuAdapter.kt#L103-L110

so whatever I do in the callback with the text will be overwritt

[2019-06-28 15:35] zawadz88 commented on #63
You might also try using a `customItem` then e.g.
[code]
which shows like this:

![Screenshot_1561735906](https://user-images.githubusercontent.com/3322260/60353691-d9ead480-99ca-11e9-87c9-5a85d81050fb.png)

If you want to place more lines then you'd probably need to create a custom layout as well which does not have a fixed height.

[2019-06-28 16:01] MFlisar commented on #63
If I make a pull request and add the ability to add an optional sub title instead as well, would this be ok for you? I think that this may be useful for others as well every now and then... or are you against this feature in general for some reason?

[2019-06-28 18:42] zawadz88 commented on #63
Could you post a screenshot of how would this look like?
TBH I'm not sure if this should be in the library or not and I would like to elaborate a bit why.

On one hand, as you said this might be useful to others as well. This means that the piece of code which I posted above wouldn't be needed but could be replaced with an out-of-the-box solution.

On the other hand, multiline menu items are not d

[2019-06-28 18:44] zawadz88 commented on #63
I would love to hear what others think about it as well :)

[2019-06-29 09:10] zawadz88 commented on #63
On a separate note I think it would make sense for `label` to be a `CharSequence` and not a `String` to allow for `Spanned` to be set as well.

[2019-07-01 09:47] MFlisar commented on #63
Does anything speak against moving the viewCallback to the end of the `onBind` function? This would be a good solution as well for me with nearly no drawbacks. I think this even is more natural, as a user I don't expect that changes I made inside the callback are overwritten again or that the views are not fully initialised yet (their text is not set yet)

Like e.g. here: https://github.com/zawadz

[2019-07-01 15:25] zawadz88 commented on #63
I like that suggestion 😀

This would probable make sense for the default items (represented by `ItemHolder`) where the layout file is known. However, this is not the case with custom items (represented by `CustomItemHolder`) and `viewBoundCallback` is declared in `AbstractItemHolder`...

It seems like the following would work as per your suggestion:
[code]
![Screenshot_1561993909](https://user-ima

[2019-07-01 17:47] MFlisar commented on #63
That's fine for me, using `CharSequence` makes things easier and more compact for my use case.

I still think, a callback like following would be useful:

    interface Callback<T: ViewDataBinding> {
        fun onBind(view: View, binding: T)
    }

In a large menu, calling `findViewById` a few times is noticable and not necessary, but I'm content with your suggestion as well

[2019-07-01 18:20] zawadz88 commented on #63
Cool, I'll try to have this released within the week then.

[2019-07-03 16:09] zawadz88 commented on #62
Hi @NapasPayu,
I've created a proof of concept for this behaviour:
![fixed-width](https://user-images.githubusercontent.com/3322260/60607375-717e6780-9dbd-11e9-9ae7-a1dcb8a8f71c.gif)

Is that what you had in mind?

Please note that this is just a proposal - I haven't updated unit tests and only tested this on API 27. There's still more work to be done ;)

[2019-07-06 13:43] zawadz88 commented on #62
Sample added in 4.0.0 together with new APIs to make this happen.

[2019-07-06 13:43] #62 closed

[2019-07-06 13:44] zawadz88 commented on #63
Released in 4.0.0. Thanks for reporting this!

[2019-07-06 13:44] #63 closed

[2019-07-06 20:25] MFlisar commented on #63
Just checked the code and tested the new version - you moved the viewBoundCallback execution to the end of the bind item and added the `CharSequence` labels - that's perfect for me, thanks a lot

[2019-07-07 07:43] #58 closed

[2019-08-01 08:39] AndroidDeveloperLB opened #65 "Request: offer a more generic popup window"
Sometimes we would like to have our own very customized view to show in the popup.

Please offer what you have today, with the nice alignment , auto-positioning etc... - for a more generic popup.

[2019-08-01 11:26] zawadz88 commented on #65
Hi,
You can in theory create a popup menu with a single `customItem` and put your custom view there.
Wouldn't that work for you?

What more would you like to do?

[2019-08-01 13:08] AndroidDeveloperLB commented on #65
This has multiple issues that I've found, probably not all related to here (because that's the first time I try this library in years ) :

1. It wraps what I provide with its popup style (meaning like a CardView). Doesn't matter much. I want to have a CardView style popup anyway.
2. I can't have a reference to the generated view, so I can't assign OnClickListener to any of its views, for example.

[2019-08-01 13:28] zawadz88 commented on #65
Well, 4.1-4.3 accounts for 3% of users and this number is diminishing. I'm not sure that ALL Android libraries are min 16 ;) Supporting older versions also costs time. You are free to fork the library and change min SDK to 16 and see if it still works. No guarantees though.

You can when using `customItem` + `viewBoundCallback`. Please see the sample app for how this can be used.

This is actually

[2019-08-01 13:47] AndroidDeveloperLB commented on #65
Well 3% out of at least 2.5 active devices is still a lot, and the support library is from API 14. The only ones that's from 16 are of something related to Admob or other Google services. What did you need to use, that you switched to 19?

Sadly this library uses a syntax I'm not aware of, instead of normal function calls, so it's harder to see what's available this way.
Anyway, I got it working t

[2019-08-01 14:22] zawadz88 commented on #65
I was referring to the click location, I missed the part about scrolling issue.

Imagine that when you show a context menu of a selected text, it will show relative to the TextView, and not to its content...

I'm not sure if I understand this but basically you would like this component to behave like a ContextMenu?
https://developer.android.com/guide/topics/ui/menus

I'm not sure if it's possible

[2019-08-01 14:45] AndroidDeveloperLB commented on #65
OK got it except the touch issue, using the support library and a workaround .
Min API 14.

Repository here, if you want to look at:
https://github.com/AndroidDeveloperLB/customized-popup-window-sample

[2019-09-15 12:12] cvezina opened #66 "Dismiss is not working when tap outside of popup window"
The popup window is not dismissed when you tap outside. You can reproduce the problem using the sample provided.

minSdkVersion 21
targetSdkVersion 28

[2019-12-06 11:27] DeweyReed commented on #66
I encounter the same problem when I test the app on a Lollipop emulator. Removing this line can help although it's not a good solution: https://github.com/zawadz88/MaterialPopupMenu/blob/master/material-popup-menu/src/main/java/androidx/appcompat/widget/MaterialRecyclerViewPopupWindow.kt#L239

[2019-12-06 15:11] zawadz88 commented on #66
@cvezina @DeweyReed thanks for reporting this.
I can reproduce this on Lollipop 5.0 emulator as well. I seems to be working on newer OS version so I'll need to investigate further.

[2019-12-06 15:23] zawadz88 commented on #66
It seems to be an issue on Lollipop only (5.0 and 5.1) - I've checked also API 19, 23, 25 & 28 and it's correct there on the emulator at least.

[2019-12-06 16:07] zawadz88 commented on #66
This seems to be an issue with clipping rounded backgrounds #47 .
I can see 2 solutions at the moment:

1. Use `clipToOutline` on Marshmallow+ only i.e. change:
[code]
to:
[code]
2. Set `popup.setBackgroundDrawable(null)` on Marshmallow only i.e.
[code]

1. Means rounded corners will work only on M+ while 2. means we'll add overdraw on Lollipop devices.
Before:
![Screenshot_1575648176](https://use

[2019-12-06 16:38] Tunous commented on #66
Option 2 appears to be a better solution in this case. I’m not sure whether removing it is entirely safe but I also don’t remember if there were any other issues which this line was intended to resolve. Most likely these were on other Android version (if ever).

[2019-12-08 10:28] zawadz88 commented on #66
Fixed in 4.0.1.
Thanks all for contributing!

[2019-12-08 10:28] #66 closed

[2019-12-11 15:25] Only-IceSoul opened #68 "How can i change text size?"
i need change text size.

[2019-12-11 15:26] Only-IceSoul commented on #68
typeface

[2019-12-11 17:29] zawadz88 commented on #68
Hi,
You might modify this e.g. by using a `viewBoundCallback` to get reference to the TextView itself and it there. For a sample see https://github.com/zawadz88/MaterialPopupMenu/blob/1d2c2fa03fdfb5d6b393724a369b4ca9254d8d56/sample/src/main/java/com/github/zawadz88/materialpopupmenu/sample/LightActivity.kt#L399

[2020-03-13 11:43] rtsketo opened #70 "IconColor changes when Popup is dismissed"
[code]
where `R.style.Widget_MPM_Menu_Custom` is `<style name="Widget.MPM.Menu.Custom"><item name="android:colorBackground">#ffaf00</item></style>`

#### The icons in the above example start white, but when one of them is selected or the dialog is dismissed, they turn black.
#### Any idea why this is happening?

&nbsp;

My solution was to repaint them on dismiss, like below.
[code]

[2020-10-30 19:55] Hamza417 opened #71 "How to add custom popup animations to the view ?"
I checked the codes and could not find the code to add custom animations when the menu appears

[2020-11-05 07:49] MFlisar opened #72 "Suggestion - use ViewBinding"
I'd like to use `ViewBinding` instead of `View` in the `viewBoundCallbacks` - I would integrate this. What do you think about that?

This would remove the need for putting `findViewById(...)` calls into the callbacks.

[2020-11-11 22:20] JamesRoome opened #73 "UI Testing Robolectric Issue"
**Error**
When trying to do automated UI tests with Robolectric I get this error:

`java.lang.IllegalAccessError: tried to access class kotlin.jvm.internal.DefaultConstructorMarker from class androidx.appcompat.widget.MaterialRecyclerViewPopupWindow$Companion`

This is caused by `MaterialRecyclerViewPopupWindow` being in the `androidx` namespace so Robolectric does its bytecode magic on it.

**Fix

[2020-11-12 08:32] zawadz88 commented on #73
Thanks for submitting this issue and a workaround!
I'm not sure if I can move the package. If remember correctly it was needed to access some package-private resources.
I'll have a look if this can be fixed by other means though!

[2020-11-12 16:04] JamesRoome commented on #73
I didn't look into the details too much, other than "bytecode instrumentation magic".
But now that I'm thinking about it, all you might need to tweak the companion object a bit so the instrumentation works.

[2020-11-21 11:25] zawadz88 commented on #73
Hi @JamesRoome,
This should be now fixed in 4.1.0.
Thanks for reporting this and providing a lot of info to fix the issue!

[2020-11-21 11:25] #73 closed

[2020-11-21 11:37] zawadz88 commented on #72
Hi @MFlisar,
Sorry for not replying earlier.
### 1. Use ViewBinding
I'm rather reluctant in putting that in the SDK so that the library does not add a lot of transitive dependencies to the project's using it. The "view accessor" libraries also have a tendency to change over time, we also have Kotlin extensions, DataBinding, Compose on its way... I would like to avoid that in the SDK so that we don

[2020-11-22 09:59] MFlisar commented on #72
How about providing a small helper class instead? Instead of exposing a view expose a simple class like following, then you do not need to use `ViewBinding` inside your library:

[code]

Actually in my own popup I've ended with following anchor types:

[code]

Left, right alone does not make much sense probably...

I thought you can stop if you reached the current screens height - I did not think

[2020-12-02 15:54] JamesRoome commented on #73
Yes is works, happy to delete my CustomRobolectricTestRunner!

Thanks for the quick fix.

[2021-08-31 13:03] vipafattal opened #76 "Jcenter is dead"

[2021-11-21 00:37] zahidcataltas opened #77 "Please move to mavenCentral"

[2022-01-11 00:08] dinukapj opened #78 "How can I add contentDescription attribute to menu items?"
To support accessibility features, I want to implement a 'TalkBack' for my menus. In a native implementation, I can add the `contentDescription` to the menu items. How can I do the same with this library?

[2022-05-18 05:38] Leeduseop opened #79 "how to behind dialog background and text gravity center?"
How can I make the dialog behind the background? And can you tell me how to center the label?

[2022-08-20 10:54] gdoudeng opened #80 "Could not resolve com.github.zawadz88.materialpopupmenu:material-popup-menu:4.1.0."
[code]

[2022-08-24 18:32] Gabiparucci commented on #80
I have the same problem ;(

[2022-09-30 21:28] arkilis commented on #80
Same problem.